<!DOCTYPE html>
<html lnag="ja">
<head>
   <meta charset="utf-8">
   <title>てカムナ -シンプルなチャットアプリ-</title>
   <link rel="stylesheet" href="../static/css/styles.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:700?family=M+PLUS+1p" rel="stylesheet">
</head>

<body>

  <nav id="gnav" class="fixed">
    <ul>
      <li><a href="#What">What's this?</a></li>
      <li><a href="#How">How to use</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
  </nav>

</body>

<script>
</script>
</html>
