<!DOCTYPE html>
<html lnag="ja">
<head>
   <meta charset="utf-8">
   <title>Chat -シンプルなチャットアプリ-</title>
   <link rel="stylesheet" href="css/styles.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:700?family=M+PLUS+1p" rel="stylesheet">
</head>

<body>
   <br><br><a href="logout">ログアウト</a>
   <nav id="gnav" class="fixed">
    <ul>
      <li><a href="#What">What's this?</a></li>
      <li><a href="#How">How to use</a></li>
      <li><a href="#Contact">Contact</a></li>
      <!-- セッションにusernameが存在するかどうかで表示内容を変更 -->
      {% if session.get('username') == None %}
      <li><a href="login">Login</a></li>
      {% else %}
      <li><a href="myPage">MyPage</a></li>
      {%endif %}
    </ul>
   </nav>

  <section class="section" id="contact">
        <div class="inner">
          <div class="section-title-area">
            <h2 class="section-title">Chat</h2>
            <div class="section-intro">
              <h3>これまでにないシンプルなチャットアプリケーション</h3>
              <img src="img/appli.png" alt="アプリケーション">
            </div>
          </div>
          <div class="section-body contact-wrapper">
            <div class="contact-list">
            </div>
          </div>
        </div>
    </section>

</body>

<script>
</script>
</html>
