<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>やることリスト</title>
   <link rel="stylesheet" type="text/css" href="static/css/list.css">
   <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
   <p>やることリスト</p>
   <div>
      <table border="1">
      <tr>
      <th>No</th><th>難易度</th><th>内容</th><th>備考</th>
      </tr>
      <tr>
      <td>1</td><td>★★☆☆☆</td><td>FlaskからDjangoに置き換える</td><td>はやくやりたい。後になればなるほど置き換えが大変</td>
      </tr>
      <tr>
      <td>2</td><td>★★☆☆☆</td><td>Vue.jsを入れる。</td><td>同じくはやくやりたい。くそムズイ可能性有</td>
      </tr>
      <tr>
      <td>3</td><td>★★★☆☆</td><td>Ajaxの理解</td><td>しんどくなる可能性があるのでデザインからでも可</td>
      </tr>
      <tr>
      <td>4</td><td>★☆☆☆☆</td><td>SQLとの連携</td><td>簡単。5分でいける</td>
      </tr>
      <tr>
      <td>5</td><td>★★★★★</td><td>人探し</td><td>なくてもいけるけどモチベさがると立て直せない</td>
      </tr>
      </table>
   </div>
   <br>
   
   <p>お約束リスト</p>
   
   <div>
   <h3>・インデントは半角スペース x 3 !!!!!</h3>
   <span>あたくしは<a href="https://marycore.jp/coding/indent-using-three-spaces/">コレ</a>に賛同します！！</span>
   <p style="font-size:80%">※Pythonプログラムはtabで</p>
   </div>
   <br>
   <div>
   <h3>・コンフリクト(競合)の排除</h3>
   <span>同じファイルを編集してリポジトリにコミットするとマージ(合体作業)をしないといけない<br>
   触るときは言う。今は大丈夫だけど後からしんどくなる</span>
   </div>
   <br>
</body>

<footer>
   <p><a href="/">ホームへ戻る<a></p>
</footer>

<script>

</script>
</html>